body {
  background-color: #f0f2f5;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#root {
  width: 100%;
  height: calc(100vh - 90px);
  display: flex;
  margin-top: 90px;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
}


.Card {
  margin: 20px 0;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;

}

.card-main .adm-card-body {
  width: 360px;
  height: 315px;
  display: flex;
  padding: 16px 0 28px 0;
  flex-direction: column;
  justify-content: space-between;
}

.adm-form {
  --border-top: none;
  --border-bottom: none;
  padding-right: 12px;

}

.adm-form .adm-list-item:first-of-type .adm-form-item-label {
  color: var(--text-color);
  font-weight: bold;
}

.adm-form .adm-list-item-content {
  align-items: center;
}


.adm-list-item-content {
  border-bottom: var(--border-inner);
  border-top: none;
}

.Form {
  margin-bottom: 20px;
}

.Form-Item {
  margin: 10px 0;
}

.Button {
  background-color: #1890ff;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.Button:hover {
  background-color: #40a9ff;
}

.Button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.Picker,
.DatePicker {
  margin: 10px 0;
}

.Result {
  margin-top: 20px;
  padding: 20px;
  background-color: #f6f8fa;
  border-radius: 4px;
}

.btn-card-footer {
  padding: 0 12px;
}

.btn-card-footer-icon {
  margin-right: 2px;
}

/* card notice */

.card-notice .adm-card {
  width: 360px;
  padding: 12px;
  color: var(--adm-color-text-secondary);
}

.card-notice .adm-card-header {
  padding: 12px;
}

.card-notice .adm-card-body {
  padding: 0 12px;
}